/* Insert custom styles you want to insert here */
body, .eKvsqo {
    background-color: rgb(50, 50, 50) !important;
}

.eWTmbB, .cYHVHa {
    background-color: tomato !important;
}

.ConnectionStatusStyles-online {
    background-color: #4dbb5f !important;
}